
.Rproj.user/0A5359D9/sources/prop/22181B6C
.Rproj.user/0A5359D9/sources/prop/574027A6
.Rproj.user/0A5359D9/sources/prop/7D55B076
.Rproj.user/0A5359D9/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/0A5359D9/sources/per/t/4716B165-contents
.Rproj.user/0A5359D9/sources/per/t/50803995
.Rproj.user/0A5359D9/sources/per/t/50803995-contents
.Rproj.user/0A5359D9/sources/per/t/C53BA14A
.Rproj.user/0A5359D9/sources/per/t/C53BA14A-contents
.Rproj.user/0A5359D9/sources/per/t/4716B165
.Rproj.user/0A5359D9/sources/per/t/3BE37347-contents
.Rproj.user/0A5359D9/sources/per/t/3BE37347
.Rproj.user/0A5359D9/saved_source_markers
.Rproj.user/0A5359D9/rmd-outputs
*.pper
.gitattributes
.Rhistory
.Rproj.user/0A5359D9/persistent-state
